[submodule "yolov5"]
	path = yolov5
	url = https://github.com/as51340/yolov5
[submodule "trackers/strong_sort/deep/reid"]
	path = trackers/strong_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid
